{
  "semi": true,             // 使用分号
  "singleQuote": true,      // 使用单引号
  "trailingComma": "es5",   // 在对象和数组的最后一项加上逗号
  "bracketSpacing": true,   // 对象字面量中的括号之间使用空格
  "vueIndentScriptAndStyle": true, // 缩进 Vue 中的 <script> 和 <style> 标签
  "printWidth": 80,         // 每行的最大长度
  "tabWidth": 2,            // 缩进的空格数
  "useTabs": false,         // 不使用制表符缩进，而是空格
  "singleAttributePerLine": true // 标签的属性竖列排列
}